@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #091e3a, #2f80ed, #2d9ee0);
    --background: 0 0% 100%;
    --foreground: 0 0% 12%;

    --muted: 228 7.3% 91.3%;
    --muted-foreground: 228 3.65% 41.3%;

    --popover: 228 31.6% 91.3%;
    --popover-foreground: 228 7.3% 0.65%;

    --card: 240 8% 95%;
    --card-foreground: 228 7.3% 0.65%;

    --border: 228 12.3% 89.52%;
    --input: 240 8% 95%;

    --primary: 228 73% 13%;
    --primary-foreground: 228 1.46% 91.3%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 228 5.38% 11.3%;

    --accent: 209 93% 52%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 228 73% 13%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #3ba6ff;

    --background: 220 65% 4.96%;
    --foreground: 220 10% 98.1%;

    --muted: 220 80% 31.62%;
    --muted-foreground: 220 10% 56.2%;

    --popover: 220 52% 10.54%;
    --popover-foreground: 220 10% 98.1%;

    --card: 220 52% 10.54%;
    --card-foreground: 220 10% 98.1%;

    --border: 220 80% 31.62%;
    --input: 220 80% 31.62%;

    --primary: 220 100% 62%;
    --primary-foreground: 220 10% 6.2%;

    --secondary: 220 80% 31.62%;
    --secondary-foreground: 220 10% 98.1%;

    --accent: 220 80% 31.62%;
    --accent-foreground: 220 10% 98.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 10% 98.1%;

    --ring: 220 100% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
  .bg-pattern {
    @apply bg-[url(/pattern.png)];
  }
}
